!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
    %title MagmaPong 
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      - if user_signed_in?
        Signed in as #{current_user.email}. Not you?
        \#{link_to "Sign out", destroy_user_session_path, :method => :delete}
    
      .header-titles-container
        =image_tag 'tango-pong-logo.png', class: 'logo'
        %div.hash-tag #magmaPong    

      %nav
        %ul
          %li
            =link_to 'Teams', teams_path
          %li
            =link_to 'Scores', scores_path
          %li
            =link_to 'Rules', 'application#rules'
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

    #content
      = yield

    %footer
      #jTweetsAnywhereEndlessScrollingSample      
      %p
        Powered by
        %a{href: "http://www.tangosource.com/", target: "blank"} TangoSource
